* {
    font-family:Arial, Helvetica, sans-serif;
}

form {
    width: 205vh;
    height: 300px;
    align-items: center;
    text-align: center;
}

table {
    width: 205vh;
    height: 50px;
    margin-left: 10px;
    border: 2px solid #000;
}

thead {
    font-size: 20px;
}

tbody {
    text-align: center;
}

input {
    font-size: 17px;
    height: 30px;
    width: 70vh;
    margin-bottom: 5px;
    border-radius: 16px;
}

button {
    background-color: rgb(181, 98, 181);
    height: 35px;
    width: 15vh;
    border-radius: 5px;
    font-size: 15px;
}